h1{
    text-align: center;
}

.gridContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1em;
}

.template{
    background-color: beige;
}

/*links oben*/
.contentlo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
/* Feste Größe für alle Bilder in den Templates */
.gridContainer img {
  width: 200px;         /* Gewünschte feste Breite */
  height: 200px;        /* Gewünschte feste Höhe */
  object-fit: contain; /* Behält das Seitenverhältnis bei */
  flex-shrink: 0;      /* Verhindert, dass das Bild im Grid gequetscht wird */
}

/*rechts oben*/
.contentro{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "box-1 box-2"
    "box-1 box-3";
}

/*links unten*/
.contentlu{
    display: grid;
    justify-items:center;
    align-items: center;
    grid-template-areas: 
    "box-1 box-2"
    "box-3 box-4";
}
/*rechts unten*/
.contentru{
    display: grid;
    justify-items:center;
    align-items: center;
    grid-template-areas: 
    "box-1 box-2 box-5"
    "box-3 box-4 box-5";
}
/*die bearbeiten.php muss nun bearbeitet werden*/

/* 
Template1
- es muss responisve sein, d.h. beim Smartphone müssen alle Felder untereinander angezeigt werden
*/
.templatelo{
    background-color: beige;
    border: 1px solid;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "box-1 box-1 box-1 box-1"
    "box-2 box-2 box-3 box-3"
    "box-4 box-5 box-3 box-3"
    "box-6 box-6 box-7 box-7"
    "box-8 box-8 box-8 box-8";
    

}


/*nächser Anschnitt*/

.dropzone {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border: 2px dashed #888;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.2s;
    position: relative;
}

.preview-img {
    width: 100%;
    max-width: 400px;
    margin-top: 0;
    display: none;
}

.dropzone.dragover {
    background-color: #eef;
    border-color: #55f;
}
div#errorBox {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

/* Button aller Seiten */
.class-button {
    margin-top: 20px;
}