h1{
    text-align: center;
}
.btnro{
    background-color: transparent;
    position:fixed;
    top: 10%;
    right: 10%;
    border: none;
}

.btnlo{
    background-color: transparent;
    position:fixed;
    top: 10%;
    left: 10%;
    border: none;
}

.btnru{
    background-color: transparent;
    position:fixed;
    bottom: 10%;
    right: 10%;
    border: none;
}

.btnlu{
    background-color: transparent;
    position:fixed;
    bottom: 10%;
    left: 10%;
    border: none;
}